<html >
<head>

</head>
<body>
	<% spots.forEach(function(spots){ %>
		Nombre<p><%= spots.nombre %></p>
		Venta<p><%= spots.venta %> "></p>
		Precio<p><%= spots.precio %></p>
		Foto<img src="<%= spots.foto %>"></img>
		Tags<p><%= spots.tags %></p>
		<% }) %>
</body>
</html>